# App Configuration
NEXT_PUBLIC_APP_NAME=IE Alumni Connect

# Database
MONGODB_URI=
MONGODB_DB_NAME=ie_alumni_connect

# Authentication
JWT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Email (SMTP)
EMAIL_FROM=noreply@yourdomain.me
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Monitoring (Optional)
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=